body {
    background-color:		#cccac8;
    font-family:        	Arial, Helvetica, sans-serif;
    font-size:			medium;
    margin:			0px;
}

#login-area {
     margin:			120px 475px 0px 475px;
     background-color:		#FFFFFF;
     padding:			20px;
     padding-top:		0px;
     padding-bottom:		0px;
     height:			350px;
     width:			410px;
}

#login-header {
     height:			122px;
     color:			#033076;
     margin:			10px 10px 0px 10px;
}

img#epl-logo {
     height:			122px;
     float:			left;
}

#login-title {
    text-align:			center;
    font-size:			24px;
    padding-top:		20px;
}

#login-username, #login-password {
    text-align:			left;
    font-weight:		bold;
}

#login-forgetpassword {
    float:			right;
}


input {
    width:			400px;
}    

#login-password-text {
    margin:			10px 0px 10px 0px;
}		     

#login-submit-button {
    color:			#FFFFFF;
    background-color:		#033076;
    marin:			10px 0px 10px 0px;
    width:			410px;
    height:			55px;
}
