
div.container {
    width            : 1055px;
    margin           : 25px auto;
    padding-top      : 15px;
    padding-bottom   : 60px;

    background-color : #FFFFFF;
}

#filter-bar {
    overflow      : hidden;
    width         : 96%;
    margin-bottom : 10px;
    margin-left   : 2%;
}

#filter-categories {
    float           : left;

    margin          : 0;
    padding         : 0;

    list-style-type : none;
}

#filter-categories li {
    display      : inline;
    margin-right : 10px;
    font-size    : small;
}

button {
    float            : right;
    background-color : #004b8e;
    font-weight      : bold;
    color            : #fff;
    border           : none;
    outline          : none;
    margin: 0px 5px;
}

button:active {
    transform : translateY(1px);
}

#change-table {
    width           : 96%;
    margin-left     : 2%;
    padding-top     : 100px;
    border-collapse : collapse;
    font-size       : 9pt;
}

#change-table th {
    background-color : #004b8e;
    font-size        : small;
    font-weight      : bold;
    color            : white;
    text-align       : left;
    border-right     : 2px solid #fff;
}

#change-table th.unsorted {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); 
  background-repeat: no-repeat;
  background-position: center right;
}

#change-table th a {
    color           : white;
    text-decoration : none;
}

#change-table td, th {
    padding       : 6px;
    border-bottom : 2px solid #fff;
}

ul.pagination {
    text-align      : center;
    list-style-type : none;
}

ul.pagination li {
    display : inline;

    margin  : 0px 5px;
    padding : 5px 10px;
}

ul.pagination li a {
    color           : black;
    text-decoration : none;
}

ul.pagination li:hover {
    background-color : #0062b8;
}

ul.pagination li:hover a {
    color : white;
}

ul.pagination li.active{
    background-color : #004b8e;
    color            : white;
}