body {
    margin:                            0;
    padding:                           0;
    background-color:                  #cccac8;
    font-family:                       Arial, Helvetica, sans-serif;
    font-size:                         medium;
}

.create-plan-years {
    margin-left:                       42%;
    width:                             125px;
}

.create-plan-year-labels {
    text-align:                        center;
}

#create-plan-section {
    background-color:                  white;
    border-style:                      groove;
    height:                            420px;
    width:                             800px;
    padding:                           20px 0px 20px 0px;
    margin:                            25px auto;
}

#createPlanGoalContainer, #createPlanObjectiveContainer, #createPlanActionContainer {
    margin:                            5px auto auto auto;
    width:                             400px;
    height:                            25px;
}

input, textarea {
    background-color:                  white;
    color:                             black;
    margin:                            5px auto auto auto;
    width:                             400px;
    height:                            25px;
    -webkit-box-shadow:                0 0 0px 1000px white inset;
}

.create-plan-goal-section {
    text-align:                        center;
}

.create-plan-goal-heading {
    margin:                            0;
    font-size:                         20px;
}

#create-plan-mandatory-label {
    font-size:                         12px;
}

button {
    margin: 0px 0px 10px 0px;
    float: right;
}