#profile-left{
	float: left;
	margin-left: 100px;
}

#profile-info{
	text-align: center;
	background-color:		#FFFFFF;
 	height:			300px;
 	width: 100%;
 	
}

#profile-stats{

	line-height: 10px;
	text-align: center;
	background-color:		#FFFFFF;
 	height:			200px;
 	width: 100%;
}

#profile-right {
	
	/*float: right;*/
	margin-left: 320px;
	background-color:		#FFFFFF;
	height: 524px;
	width: 865px;

}