#profile {
	margin: 25px auto;
	width: 1055px;
}

#profile-left{
	float: left;
	width: 200px;
}

#profile-info{
	text-align: center;
	background-color:		#FFFFFF;
 	height:			300px;
 	width: 100%;
 	
}

#profile-stats{

	display: inline-block;
 	
}

#profile-stats .stat-content{
	width: 100px;
	float:left;
}

#profile-right {
	
	/*float: right;*/
	padding: 20px 0px;
	/*margin-left: 220px;*/
	background-color:		#FFFFFF;
	padding-bottom: 60px;
	/*width: 835px;*/

}



#profile-right #recent { 
 	width           : 90%;
    margin: 0px 5%;
    
    /*border-collapse : collapse;*/
    font-size       : 12pt;
  /*border-collapse: collapse; */
}

#profile-right #todo { 
 	width           : 90%;
    margin: 0px 5%;
    
    /*border-collapse : collapse;*/
    font-size       : 12pt;
  /*border-collapse: collapse; */
}

/* Zebra striping */
#profile-right #todo tr:nth-of-type(odd) { 
  background: #dbe6f0; 
}

#profile-right #recent tr:nth-of-type(odd) { 
  background: #dbe6f0; 
}

#todo th { 
  background: #004b8e; 
  color: white; 
  font-weight: bold; 
}

#recent th { 
  background: #336633; 
  color: white; 
  font-weight: bold; 
}

#profile-right #recent td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

#profile-right #todo td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

#recent {
	margin-bottom: 50px;
}

#dashboard-content {
	margin: 25px auto auto auto;
	width: 1055px;
}