#profile-left{
	float: left;
	margin-left: 100px;
}

#profile-info{
	text-align: center;
	background-color:		#FFFFFF;
 	height:			300px;
 	width: 100%;
 	
}

#profile-stats{

	line-height: 10px;
	text-align: center;
	background-color:		#FFFFFF;
 	height:			200px;
 	width: 100%;
}

#profile-right {
	
	/*float: right;*/
	padding-top: 30px;
	margin-left: 320px;	
	background-color:		#FFFFFF;
	height: 524px;
	width: 865px;

}

#profile-area {
	margin: 10px auto;
}

#profile-right table { 
  width: 90%; 
  margin-left: 5%;
  padding-top: 100px;
  border-collapse: collapse; 
}
/* Zebra striping */
#profile-right tr:nth-of-type(odd) { 
  background: #eee; 
}
#profile-right th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
#profile-right td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}