body {
    background-color:		#cccac8;
    font-family:        	Arial, Helvetica, sans-serif;
    font-size:			medium;
    margin:			0px;
}

#manage-plan-area {
	margin:				20px 0px 60px 150px;
    background-color:	#FFFFFF;
    padding:			20px;
    padding-top:		20px;
    padding-bottom:		20px;
    height:				600px;
    width:				1000px;
}

#duc-bar {

}

#goat-bar {

}