/*----- Components -----*/
nav {
    display: flex;    /*align-items: center;*/
    justify-content: center;
}
h3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    font-weight: 700;
}
.nav {
    display: flex;
    margin-bottom: 9px;
}
.duc-nav {
    border-bottom: 1px solid;
}
.duc-nav a {
    border-radius: 4px 4px 0 0;
}
.nav.nav-tabs li.active a {
    background-color: #FFF;
    color: #000;
    border: 1px solid;
}
.goat-nav a {
    border-radius: 4px;
}
.nav li {
    list-style: none;    /*margin: 0px;
                        flex: 1;*/
}
.nav li a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;
}
.nav li a:hover {
    color: #337ab7;
}
.button {
    margin-top: 5px;
    float: right;
    cursor: pointer;
}
.addTextBox:hover {
    cursor: pointer;
}
.removeTextBox {
    margin-left: 5px;
}
.removeTextBox:hover {
    cursor: pointer;
}
#manage-plan-area {
    margin: 25px auto;
    width: 80%;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/*----- Create Business Plan Wizard -----*/
#createBusinessPlan {
    float: right;
}
#createBusinessPlan a:hover {
    background-color: #FFF;
}

/*----- DUC Content of Tabs -----*/
.tab-content {
    background: #fff;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-content div {
    background: #fff;
}

/*----- Goat Content of Tabs -----*/
.goat-tab-content {
    background: #fff;
}
.goat-tab {
    display: none;
}
.goat-tab.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.goat-tab-content div {
    background: #fff;
}

/*----- li -----*/
li.active a {
    background-color: #337ab7;
    color: #FFF;
    cursor: default;
}
li.active a:hover {
    color: #FFF;
}
a:hover {
    background-color: #EEEEEE;
}

/*----- DUC Tab Links -----*/
.duc-tab-links {
    display: flex;
}
.duc-tab-links li {
    margin: 5px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}
.duc-tab-links a {
    padding: 9px 15px;
    border-radius: 1px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}
.duc-tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

/*----- Goat Tabs Links -----*/
.goat-tabs-links {
    display: flex;
}
.goat-tabs-links li {
    margin: 5px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}
.goat-tabs-links a {
    padding: 9px 15px;
    border-radius: 1px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}
.goat-tabs-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

/*----- Goal -----*/
#goal {
    margin-top: 20px;
}
.goal-left {
    float: left;
    margin-right: 100px;
}
.goal-left select {
    margin-top: 5px;
}
.goal-right {
    float: right;
    margin-left: 100px;
}

/*----- Objective -----*/
#objective {
    align-items: flex-start;
    margin-top: 20px;
}
#objective-left {
    margin-right: 100px;
    float: left;
}
#objective-left select {

    /*margin-top: 5px;*/
    margin-top: 1px;
    margin-bottom: 10px;
}
#objective-right {
    margin-left: 100px;
    float: right;
}

/*----- Action -----*/
#action {
    align-items: flex-start;
    margin-top: 20px;
}
#action-left {
    margin-right: 60px;
    float: left;
}
#action-left select, input {
    margin-top: 1px;
    margin-bottom: 10px;
}
#action-right {
    margin-left: 60px;
    float: right;
}
#action-right select {
    margin-top: 1px;
    margin-bottom: 10px;
}

/*----- Task -----*/
#task {
    align-items: flex-start;
    margin-top: 20px;
}
#task-left {
    margin-right: 60px;
    float: left;
}
#task-left select, input {
    margin-top: 1px;
    margin-bottom: 10px;
}
#task-right {
    margin-left: 60px;
    float: right;
}
#task-right select {
    margin-top: 1px;
    margin-bottom: 10px;
}