/*----- Components -----*/
nav {
    display: flex;
    justify-content: center;
}
h3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    font-weight: 700;
}
textarea {
    margin-top: 1px;
    margin-bottom: 10px;
    width: 226px;
}
.nav {
    display: flex;
    margin-bottom: 9px;
}
.duc-nav {
    border-bottom: 1px solid;
}
.nav.nav-tabs li.active a {
    background-color: #FFF;
    color: #000;
    border: 1px solid;
}
.nav li {
    list-style: none;
}
.nav li a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;
}
.button {
    padding: 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    background-color: #004B8E;
    color: #FFF;
    border: none;
}
.addTextBox {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #004B8E;
    color: #FFF;
    border: none;
}
.addTextBox:hover {
    cursor: pointer;
}
.removeTextBox {
    padding: 5px;
    margin-left: 5px;
    background-color: #004B8E;
    color: #FFF;
    border: none;
}
.removeTextBox:hover {
    cursor: pointer;
}
#manage-plan-area {
    margin: 25px auto;
    width: 750px;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/*----- Create Business Plan Wizard -----*/
#createBusinessPlan {
    float: right;
}
#createBusinessPlan a:hover {
    background-color: #FFF;
}

/*----- DUC Content of Tabs -----*/
.tab-content {
    background: #fff;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-content div {
    background: #fff;
}

/*----- Goat Content of Tabs -----*/
.goat-tab-content {
    background: #fff;
}
.goat-tab {
    display: none;
}
.goat-tab.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.goat-tab-content div {
    background: #fff;
}

/*----- li -----*/
li.active a {
    background-color: #004B8E;
    color: #FFF;
    cursor: default;
}
li.active a:hover {
    color: #FFF;
}
a:hover {
    background-color: #004B8E;
    color: #FFF;
}

/*----- DUC Tab Links -----*/
.duc-tab-links {
    display: flex;
}
.duc-tab-links li {
    margin: 5px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}
.duc-tab-links a {
    padding: 9px 15px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}
.duc-tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

/*----- Goat Tabs Links -----*/
.goat-tabs-links {
    display: flex;
}
.goat-tabs-links li {
    margin: 5px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex: 1;
}
.goat-tabs-links a {
    padding: 9px 15px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}
.goat-tabs-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

/*----- Goal -----*/
#goal {
    margin-top: 20px;
}
.goal-left {
    float: left;
    margin-right: 100px;
}
.goal-left select {
    margin-top: 5px;
}
.goal-right {
    float: right;
    margin-left: 100px;
}

/*----- Objective -----*/
#objective {
    align-items: flex-start;
    margin-top: 20px;
}
#objective-left {
    margin-right: 50px;
    float: left;
}
#objective-left select {
    margin-top: 1px;
    margin-bottom: 10px;
}
#objective-right {
    margin-left: 50px;
    float: right;
}

/*----- Action -----*/
#action {
    align-items: flex-start;
    margin-top: 20px;
}
#action-left {
    margin-right: 30px;
    float: left;
}
#action-left select, input {
    margin-top: 1px;
    margin-bottom: 10px;
}
#action-right {
    margin-left: 30px;
    float: right;
}
#action-right select {
    margin-top: 1px;
    margin-bottom: 10px;
}

/*----- Task -----*/
#task {
    align-items: flex-start;
    margin-top: 20px;
}
#task-left {
    margin-right: 30px;
    float: left;
}
#task-left select, input {
    margin-top: 1px;
    margin-bottom: 10px;
}
#task-right {
    margin-left: 30px;
    float: right;
}
#task-right select {
    margin-top: 1px;
    margin-bottom: 10px;
}
