.tablesorter .filtered {
  display: none;
}
.tablesorter-filter-row td {
  display: none;
}

#filter-bar {
  margin: 10px 0px;
}

#reset {
  background-color: #004b8e;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
}

#reset:active {
  transform: translateY(1px);
}

#view-plan-area{
  
    margin: 25px auto;
    width: 1055px;
    background-color: #FFFFFF;
    padding-top:    15px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}


#view-plan-area table { 
  width: 90%; 
  margin-left: 5%;
  padding-top: 100px;
  border-collapse: collapse; 
  font-size: x-small;
}

#view-plan-area .hidden {
  display: none;
}

#view-plan-area th { 
  background: #004b8e; 
  color: white; 
  font-weight: bold; 
  border: 3px solid #fff;
}

#view-plan-area td, th { 
  padding: 6px; 
  border-bottom: 1px solid #ccc;
}

#view-plan-area tr.goal {
  text-align: left;
  background: #336633;
  color: white;
  font-weight: bold;
  font-size: small;
}

#view-plan-area tr.objective {
  text-align: left;
  background: #669966;
  color: white;
  font-weight: bold;
  font-size: small;
}

#view-plan-area tr.action {
  background: #dbe6f0;
  /*font-size: small;*/
}

#view-plan-area tr.task {
  /*font-size: small;*/
}