
#filter-bar {
    overflow      : hidden;
    width         : 96%;
    margin-bottom : 10px;
    margin-left   : 2%;
}

#filter-categories {
    float           : left;

    margin          : 0;
    padding         : 0;

    list-style-type : none;
}

#filter-categories li {
    display      : inline;
    margin-right : 10px;
    font-size    : small;
}

#reset {
    float            : right;

    background-color : #004b8e;
    font-weight      : bold;
    color            : #fff;
    border           : none;
    outline          : none;
}

#reset:active {
    transform : translateY(1px);
}

span.filter {
    padding          : 3px 5px;

    background-color : #EBE8EB;
    font-size        : x-small;
}

#view-plan-area{
    width            : 1055px;
    margin           : 25px auto;
    padding-top      : 15px;
    padding-bottom   : 60px;

    background-color : #FFFFFF;
}

#view-plan-area table {
    width           : 96%;
    margin-left     : 2%;
    padding-top     : 100px;
    border-collapse : collapse;
    font-size       : 8pt;
}

#view-plan-area .hidden {
    display : none;
}

#view-plan-area th {
    background-color  : #004b8e;
    font-size   : small;
    font-weight : bold;
    color       : white;
    text-align: left;
    border-right      : 2px solid #fff;
}

#view-plan-area td, th {
    padding       : 6px;
    border-bottom : 1px solid #ccc;
}

#view-plan-area tr.goal {
    background  : #336633;
    font-size   : small;
    font-weight : bold;
    color       : white;
    text-align  : left;
}

#view-plan-area tr.objective {
    background  : #669966;
    font-size   : small;
    font-weight : bold;
    color       : white;
    text-align  : left;
}

#view-plan-area tr.action {
    background : #dbe6f0;
  /*font-size: small;*/
}

#view-plan-area tr.task {
  /*font-size: small;*/
}

#view-plan-area tr.goal td.caret,
#view-plan-area tr.objective td.caret {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  background-repeat: no-repeat;
  background-position: center left;
  width: 5px;
}

#view-plan-area tr.action td.caret {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  background-repeat: no-repeat;
  background-position: center left;
  width: 5px;
}

#view-plan-area tr.goal td.caret.down-caret,
#view-plan-area tr.objective td.caret.down-caret,
#view-plan-area tr.action td.caret.down-caret {
  transform: rotate(-90deg);
}
.tablesorter .filtered {
    display : none;
}

.tablesorter-filter-row td {
    display : none;
}

.tablesorter .header,
.tablesorter .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); 
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 18px 4px 4px;
  white-space: normal;
  cursor: pointer;

}
.tablesorter .headerSortUp,
.tablesorter .tablesorter-headerSortUp,
.tablesorter .tablesorter-headerAsc {
  background-color: #9fbfdf;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); 
}
.tablesorter .headerSortDown,
.tablesorter .tablesorter-headerSortDown,
.tablesorter .tablesorter-headerDesc {
   background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); 
}

.jq-dropdown {
    font-size : small;
}