body {
    margin:             0;
    padding:            0;
    background-color:   #cccac8;
    font-family:        Arial, Helvetica, sans-serif;
    font-size:          medium;
}

#wizard-year-selection {
    text-align:         center;
    background-color:   white;
    border-style:       groove;
    height:             200px;
    width:              500px;
    padding:            20px 0px 20px 0px;
    margin:             50px auto auto auto;
    border-radius:      5%;
}

#wizard-year-title {
    margin-bottom:      0;
}

#wizard-year-separator {
    display:            inline-block;
    font-size:          20px;
    padding:            0px 25px 0px 25px;
}

.wizard-years {
    width:              125px;
}

.wizard-button {
    background-color:   #004b8e;
    border:             thin solid black;
    border-radius:      2%;
    width:              200px;
    height:             50px;
    font-size:          20px;
    color:              white;
}