
body {
    margin           : 0px;
    background-color : #cccac8;
    font-family      : Arial, Helvetica, sans-serif;
    font-size        : medium;
}

label {
    font-weight : bold;
    font-size: large;
}

div.login-field {
    margin: 10px 0px;
}

#login-area {
    height           : 350px;
    width            : 410px;
    margin           : 120px 475px 0px 475px;
    padding          : 20px;
    padding-top      : 0px;
    padding-bottom   : 0px;

    background-color : #FFFFFF;
}

#login-header {
    height : 122px;
    margin : 10px 10px 0px 10px;

    color  : #033076;
}

img#epl-logo {
    float  : left;
    height : 122px;
}

#login-title {
    padding-top : 20px;

    font-size   : 24px;
    text-align  : center;
}

#login-username, #login-password {
    font-weight : bold;
    text-align  : left;
}

#login-forgetpassword {
    float : right;
}

input {
    width : 400px;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid #000;
    padding: 3px 0px 3px 2px;
    margin: 3px 0px;
}

#login-password-text {
    margin : 10px 0px 10px 0px;
}

#login-submit-button {
    height           : 40px;
    width            : 405px;
    margin           : 0px 0px 10px 0px;

    background-color : #004B83;
    color            : #FFFFFF;

    font-weight: bold;
    font-size: large;
    border-radius: 0px;
}