body{
    width: 1100px;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans-Serif;

}

/* content of header navigation */


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #4165aa;
}

.active {
    background-color: #4165aa;
}

/* content of profile navigation */

#profileNav ul{
    list-style-type: none;
    padding: 0px 0px 0px 30px;
    margin-left: 0px;
    overflow: hidden;
}

#profileNav li{
    float: left;
}

#profileNav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#profileNav a.selected{
    background-color: #4165aa;
}

#profileNav a:hover:not(.selected){
    background-color: #4165aa;
}

input{
    background-image: url('200px-magnifying_glass_icon.png');
    background-repeat: no-repeat;
    background-position: right;
}

/*----- Tabs -----*/
.tabs {
    width:70%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;

}

.tab {
    display:none;
}

.tab.active {
    display:block;
}